<h1>CRUD on Angular</h1>
<p>Create a list item</p>

<div>

  <input (click)="eraseInputPostArray()" (keyup)="getInput($event)" type="text">
  <button (click)="createPost()" type="text">Save</button>
  <button (click)="clearPosts()">Clear</button>

</div>
<br>
<hr>
<p>Editable items for list display changes: ({{posts.length}})</p>
<div *ngFor="let post of posts">
  <br>
  <input (click)="eraseInputPostArray()"  (keyup)="getInput($event)" type="text" value="{{ this.post }}">
  <button (click)="editPost(this.post)">Save Edit</button>
  <button (click)="deletePost(this.post)" >Delete</button>

</div>

<br>
<hr>

<h1>Current List Display:</h1>
<div *ngFor="let post of posts">
    <p>{{this.post}}</p>

  </div>
